<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>indexServlet</display-name>
    <servlet-name>indexServlet</servlet-name>
    <servlet-class>Servlet.indexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>indexServlet</servlet-name>
    <url-pattern>/indexServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <include-prelude>/WEB-INF/taglib.jsp</include-prelude>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>inscriptionServlet</display-name>
    <servlet-name>inscriptionServlet</servlet-name>
    <servlet-class>servlet.inscriptionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>inscriptionServlet</servlet-name>
    <url-pattern>/inscriptionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>connectionServlet</display-name>
    <servlet-name>connectionServlet</servlet-name>
    <servlet-class>servlet.connectionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>connectionServlet</servlet-name>
    <url-pattern>/connectionServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>supportServlet</display-name>
    <servlet-name>supportServlet</servlet-name>
    <servlet-class>servlet.supportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>supportServlet</servlet-name>
    <url-pattern>/supportServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>contactServlet</display-name>
    <servlet-name>contactServlet</servlet-name>
    <servlet-class>servlet.contactServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactServlet</servlet-name>
    <url-pattern>/contactServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>fonctionnementServlet</display-name>
    <servlet-name>fonctionnementServlet</servlet-name>
    <servlet-class>servlet.fonctionnementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fonctionnementServlet</servlet-name>
    <url-pattern>/fonctionnementServlet</url-pattern>
  </servlet-mapping>
</web-app>